# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bin
*.d
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.mex*

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# Backup and autosave files
*.bak
*.asv
*.m~
*~
*.autosave

# temp. and generated project files
**/slprj/*
**/*_slprj/*
**/Debug/*
htmlhelp/.buildinfo
htmlhelp/*

buildtools/*
!buildtools/build-tools-uninstall.exe
!buildtools/INFO.txt
!buildtools/bin
!buildtools/bin/**
!buildtools/gcc-arm-none-eabi-6-2017-q2
!buildtools/gcc-arm-none-eabi-6-2017-q2/**
!buildtools/gnuarmeclipse
!buildtools/gnuarmeclipse/**
!buildtools/license
!buildtools/license/**
