# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bin
*.d
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.mex*

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# Backup and autosave files
*.bak
*.asv
*.m~
*~
*.autosave

# temp. and generated project files
**/slprj/*
**/*_slprj/*
**/Debug/*
doc/_build/**/*
htmlhelp/**/*
